
@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Light'), local('BebasNeue-Light'),
    url('../fonts/BebasLigh/bebasneuelight.woff2') format('woff2'),
    url('../fonts/BebasLigh/bebasneuelight.woff') format('woff'),
    url('../fonts/BebasLigh/bebasneuelight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue Bold';
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
    url('../fonts/BebasBold/bebasneuebold.woff2') format('woff2'),
    url('../fonts/BebasBold/bebasneuebold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    background: url(../img/bg2.jpg) no-repeat 100%;
    background-size: cover;
    background-attachment: fixed;

}
body h2 {
    margin: 35px 0 20px;
}
.grand-wrapper {
    background: url(../img/pattern_bg.png) repeat rgba(0, 0, 0, 0.56);
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
    /*opacity: 0.7; /* Полупрозрачный фон */
    /*filter: alpha(Opacity=70); /* Прозрачность в IE */
}
.header {
    border-bottom: 1px solid  rgb(128, 124, 124);
    padding-top: 3px;
}

.logo-header img {
    margin-top: 8px;
}

.logo-header {
    display: inline-block;
}

.logo-h4 {
    font-family: "Bebas Neue";
    float: right;
    margin-top: 17px;
    position: relative;
    left: -33px;
    font-size: 22px;
    color: #fff;
}
.header p {
    text-align: center;
    font-family: "Bebas Neue";
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
}

.city{
    margin-top: 2px;
    font-size: 20px;
}

.tel {
    margin-top: -14px;
    font-size: 20px;
    margin-bottom: 0;
}

.header-menu {
    margin-top: 7px;
}

.header-menu li {
    display: inline-block;
    margin-right: 10px;
}

.header-menu  li a {
    font-family: "Bebas Neue";
    font-size: 25px;
    color: #fff;
}

.header-menu  li:hover a {

}

.tags {
    font-family: "Bebas Neue";
    margin-right: 40px;
    margin-top: 54px;
    letter-spacing: 1.5px;
}

.tags h2 {
    font-size: 40px;
    color: #fff;
}

.tags h1 {
    font-size: 60px;
    margin-top: -5px;
    font-weight: bold;
    color: #fff;
}

.tags ul {
    list-style-type: none;
    margin-top: 50px;
}

.tags li {
   color: #fff;
}

.weading, .hair {
    font-size: 27px;
    margin-right: 13px;
}

.master, .learn, .night {
    font-size: 22px;
    margin-right: 15px;
}

.first li {
    display: inline-block;
}

.tags .second {
    margin-left: 70px;
    margin-top: 21px;
}

.second li {
    display: inline-block;
}

form {
    background: #f8fbf9;
    padding: 25px 30px;
    border: 3px solid rgba(76, 148, 57, 0.57);
    border-radius: 5px;
    margin-top: 55px;
    opacity: 0.92; /* Полупрозрачный фон */
    filter: alpha(Opacity=70); /* Прозрачность в IE */;
}

form label span {
    line-height: 22px;
}

form h3 {
    text-align: center;
    margin-top: 0px;
    font-family: "Bebas Neue Bold";
}

form label {
    font-size: 13px;
    color: #969696;
    font-family: Arial, san-serif;
    display: block;
    margin: 22px 0 28px 0;
}

form input {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #cdcdcd;
    box-shadow: 0 0 20px rgba(0,0,0,.06) inset;
    text-indent: 10px;
    font-size: 20px;
    font-weight: normal;
}

.content {
    padding-bottom: 50px;

}

.about, .service, .portfolio h2 {
    font-family: "Bebas Neue Bold";
    color: #fff;
    text-align: center;
    letter-spacing: 0.6px;

}

.about p {
    font-family: Arial san-serif;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.about {
    padding-bottom: 60px;
    border: 1px solid  rgb(128, 124, 124);
}

.video-bg {
    border: 3px solid rgba(76, 148, 57, 0.57);
    border-radius: 3px;
    margin-top: 20px;
}

.service ul {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}

.service ul li {
    font-family: "Bebas Neue";
    color: #fff;
    text-align: center;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 32px;
}

.service ul li span {
    /*color: #bf1919;*/
    font-weight: bold;
}


.portfolio {
    padding-bottom: 40px;
    border-bottom: 1px solid  rgb(128, 124, 124);
}

.portfolio a {
    height: 250px;
    display: block;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    opacity: 0.8;
    font-size: 50px;
    text-align: center;
}

.portfolio a:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background: #49c22e;
    content: "+";
    line-height: 250px;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    font-size: 1px;
}

.portfolio a:hover:after {
    opacity: 0.9;
    color: rgb(179, 14, 17);
    font-size: 50px;
    height: 100%;
}
.thumb1 {
    background-image: url(../img/port1.JPG);
    background-size: cover;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/*.hr {
    width: 70px;
    height: 1px;
    background-color: #fff;
    margin-bottom: 10px;
    margin: -18px 0 20px 534px;
}*/


